<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recuperar Contraseña</title>
    <link rel="icon" th:href="@{/images/logo.png}" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        function mostrarRecuperacion() {
            document.getElementById("recuperar-contrasena").style.display = "block";
        }
    </script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img th:src="@{/images/logo.png}" alt="Logo de la aplicación Bellota 112" class="logo-image" style="width: 50px; height: auto;">
    </nav>
</header>
<div class="container mt-5">
    <h2>Recuperar Contraseña</h2>
    <form th:action="@{/recuperaContrasenias}" method="post">
        <div class="form-group">
            <label for="emailRecuperacion">Introduce tu correo electrónico</label>
            <input type="email" id="emailRecuperacion" name="email" class="form-control" required placeholder="Tu correo electrónico">
        </div>
        <button type="submit" class="btn btn-warning">Enviar</button>
    </form>
    <div class="mt-3">
        <a th:href="@{/login}">Volver al login</a>
    </div>
</div>
</body>
</html>